yt-img-shadow  {
  filter: blur(20px);
}

ytmusic-player {
  display: none !important;
}

#main-panel {
  height: 20px !important;
  width: 200px !important;
}

ytmusic-player-page > .content {
	display: flex !important;
	flex-direction: column !important;
}

#side-panel {
  width: 100%;
  margin: auto auto;
  scroll-snap-type-y: inherit;
}

ytmusic-player-page > .ytmusic-player-page {
  justify-content: center;
  align-items: center;
}

div#contents.style-scope.ytmusic-player-queue {
  height: 40vh;
  overflow-y: scroll;
}

iron-selector.scroller.scroller-on-hover.style-scope.ytmusic-chip-cloud-renderer {
  display: none;
}
